<div class="container">
  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <label for="oldPassword">Password</label>
    <input
      id="oldPassword"
      type="password"
      name="oldPassword"
      [(ngModel)]="form.oldPassword"
      required
      minlength="6"
      #oldPassword="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && oldPassword.errors }"
    />
    <label for="newPassword">Password</label>
    <input
      id="newPassword"
      type="password"
      name="newPassword"
      [(ngModel)]="form.newPassword"
      required
      minlength="6"
      #newPassword="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && newPassword.errors }"
    />
    <label for="confirmNewPassword">Password</label>
    <input
      id="confirmNewPassword"
      type="password"
      name="confirmNewPassword"
      [(ngModel)]="form.confirmNewPassword"
      required
      minlength="6"
      #confirmNewPassword="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && confirmNewPassword.errors }"
    />
  </form>
</div>
