<h1>{{ title }}</h1>
<div class="container">
  <button (click)="goToAdminManageBooks()">Gestion des livres</button>
  <button (click)="goToAdminManageAuthors()">Gestion des auteurs</button>
  <button (click)="goToAdminManageCategories()">Gestion des catégories</button>
  <button (click)="goToAdminManageEditors()">Gestion des éditeurs</button>
  <button (click)="goToAdminManageUsers()">Gestion des utilisateurs</button>
  <button (click)="goToAdminManageBorrows()">Gestion des prêts</button>
</div>
